{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="csrf-token" content="{{ csrf_token }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Libertinus+Keyboard&family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Format Hub</title>


    <link rel="stylesheet" href="{% static 'audio_pannel.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'image_pannel.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'pannel.css' %}">
    <link rel="stylesheet" href="{% static 'video_pannel.css' %}">
</head>
<body>
    
    <nav>
        <h1>Format Hub</h1>
    </nav>

    <div id="pannel" class="pannel active">
        <h2>Please choose your format type</h2>
        <p>Select which type of file you want to convert: Video, Image, or Audio.</p>

        <div class="choo">
            <button id="video_btn" onclick="chooseFormat('video')">Video</button>
            <button id="img_btn" onclick="chooseFormat('image')">Image</button>
            <button id="audio_btn" onclick="chooseFormat('audio')">Audio</button>
        </div>

    </div>

    <div id="image_pannel" class="image_pannel">
        <h3>Drag & Drop your image here</h3>
        <div class="drop_area" id="dropArea_img">
            <p id="dropText">Drop image files here or click to upload</p>
            <input type="file" id="imageInput" accept="image/*" hidden>
        </div>

        <div class="format_options">
            <label><input id="jpg_checkbox" onclick="chooseFormat_image('jpg')" type="checkbox" name="format" value="jpg"> JPG</label>
            <label><input id="png_checkbox" onclick="chooseFormat_image('png')" type="checkbox" name="format" value="png"> PNG</label>
            <label><input id="gif_checkbox" onclick="chooseFormat_image('gif')" type="checkbox" name="format" value="gif"> GIF</label>
            <label><input id="bmp_checkbox" onclick="chooseFormat_image('bmp')" type="checkbox" name="format" value="bmp"> BMP</label>
        </div>

        <div class="buttons_side">
            <button id="img_back_btn">back</button>
            <a id="img_Convert_btn" href="#">Convert</a>
        </div>
    </div>

    <div id="video_pannel" class="video_pannel">
        <h3>Drag & Drop your video here</h3>
        <div class="drop_area" id="dropArea">
            <p id="cideo_drop_text">Drop video files here or click to upload</p>
            <input type="file" id="videoInput" accept="video/*" hidden>
        </div>

        <div class="format_options">
            <label><input id="mp4_checkbox" onclick="chooseFormat_video('mp4')" type="checkbox" name="format" value="mp4"> MP4</label>
            <label><input id="AVI_checkbox" onclick="chooseFormat_video('AVI')" type="checkbox" name="format" value="avi"> AVI</label>
            <label><input id="MOV_checkbox" onclick="chooseFormat_video('MOV')" type="checkbox" name="format" value="mov"> MOV</label>
            <label><input id="MKV_checkbox" onclick="chooseFormat_video('MKV')" type="checkbox" name="format" value="mkv"> MKV</label>
        </div>

        <div class="buttons_side">
            <button id="video_back_btn">back</button>
            <a id="video_Convert_btn" href="#">Convert</a>
        </div>
    </div>

    <div id="audio_pannel" class="audio_pannel">
        <h3>Drag & Drop your Audio here</h3>
        
        <div class="audio_drop_area" id="dropArea_audio">
            <p id="audio_drop_text">Drop audio files here or click to upload</p>
            <input type="file" id="audioInput" accept="audio/*" hidden>
        </div>

        <div class="audio_format_options">
            <label><input id="mp3_checkbox" onclick="chooseFormat_audio('mp3')" type="checkbox" name="format" value="mp3"> MP3</label>
            <label><input id="wav_checkbox" onclick="chooseFormat_audio('wav')" type="checkbox" name="format" value="wav"> WAV</label>
            <label><input id="ogg_checkbox" onclick="chooseFormat_audio('ogg')" type="checkbox" name="format" value="ogg"> OGG</label>
            <label><input id="flac_checkbox" onclick="chooseFormat_audio('flac')" type="checkbox" name="format" value="flac"> FLAC</label>
        </div>

        <div class="buttons_side">
            <button id="audio_back_btn">back</button>
            <a id="audio_Convert_btn" href="#">Convert</a>
        </div>
    </div>


    <footer>
        <p>&copy; 2024 Format Hub. All rights reserved.</p>
        
    </footer>

    <script src="{% static 'allScripts.js' %}"></script>


</body>
</html>