<!DOCTYPE html>
<html lang="en">
<head>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Libertinus+Keyboard&family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
        

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Format Hub sending page</title>

    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/loading_sendig.css">

</head>
<body>

    <nav>
        <h1>formate hub</h1>
    </nav>
    
    <div class="sending_page">
        <div class="big_ads_up">

        </div>

        <div class="loading-widget" id="loadingWidget">
            <h2> Loading ... </h2>
            <div class="circle" id="progressCircle">
                <span id="timerText">30</span>
            </div>
        </div>

        <div id="target_file" class="target_file">

            <h3>Download your file</h3>
            <a id="file_download" class="file_download" href="" download >Download</a>
            <p id="temp_link" class="temp_link">{{ link_download }}</p>

        </div>
        
        <div class="big_ads_down"></div>

        <footer>
            <p>&copy; 2024 Format Hub. All rights reserved.</p>
        </footer>
    </div>

    <script src="/static/sending.js"></script>

</body>
</html>