.pannel{
    width: 80%;
    height: fit-content;
    background-color: var(--c1);
    margin-top: 20rem;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
}
#pannel.active{
    display: flex;
}

.pannel > h2{
    font-size: 3rem;
    color: var(--c2);
    font-family: var(--text-font2);
}
.pannel > p{
    font-size: 0.87rem;
    font-family: var(--text-font-normal);
    color: var(--c2);
    margin-bottom: 1rem;
}
.pannel > div.choo{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}
.pannel > div.choo > button{
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    font-family: var(--text-font2);
    font-size: 1.1rem;
    color: var(--c1);
    background-color: var(--c3);
    transition: 90ms;
}
.pannel > div.choo > button:hover{
    background-color: var(--c2);
    width: 8.8rem;
    color: var(--c4);
    transition: 90ms;
}